<h1 style="text-align: center; margin-bottom: 20px">
  <%= @locale.name %>
</h1>

<% if @locale.garbages.first %>

<!-- IDENTAR TODA ESSA MERDA DE NOVO -->
<!-- Le styles -->
<script type='text/javascript'>
  var raw_data = [['Task', 'Hours per Day']];
  var data = <%= raw @data.to_json %>;

  $(function() {
    $(data).each(function(index) {
      raw_data.push([{ name: this.name, value: this.value }]);
    });
  });

  // dados brasil
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChartP);
  function drawChartP() {
    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['Lixão', <%= ((@locale.garbages.first.open_air.to_f * 100) / @locale.garbages.first.total.to_f).round(0) %>],
      ['Aterro controlado', <%= ((@locale.garbages.first.landfill.to_f * 100) / @locale.garbages.first.total.to_f).round(0) %>],
      ['Aterro sanitário', <%= ((@locale.garbages.first.sanitary_landfill.to_f * 100) / @locale.garbages.first.total.to_f).round(0) %>],
      ['Estação de compostagem', <%= ((@locale.garbages.first.composting.to_f * 100) / @locale.garbages.first.total.to_f).round(0) %>],
      ['Outras', <%= ((@locale.garbages.first.others.to_f * 100) / @locale.garbages.first.total.to_f).round(0) %>]
    ]);

    var options = {
      //title: 'Destino do lixo no Brasil'
    };

    var chart = new google.visualization.PieChart(document.getElementById('pie'));
    chart.draw(data, options);
  }
</script>


<div id="pie">
</div>
<% else %>

<div class="row">
        <div class="span4">
         <!-- <img class="img-circle" src="./files/140x140">-->
          <!-- <h2>Classificação</h2> -->
          <div id='table_div'></div>
        </div><!-- /.span4 -->
        <div class="span12" style="margin-bottom: 50px;">
          <div style="width: 65%; float: center; position:relative;margin: 0 auto;">
            <p style="font-size: 24px; text-align: center; margin-bottom: 20px">Essa cidade não possui dados sobre lixo :(</p>
          </div>
          <style>
  .btn{
    padding:4px 5px;
  }
  #btn1{margin-bottom: 5px;}
  #btn2{margin-top:0px;}
</style>
        <div class="span4" style=" width: 30%; float: center; margin: 0 auto;background: #ccc; border-radius: 1em; position:relative; padding-bottom:10px;">
    <h2>... e como você pode nos ajudar?</h2>
    <a href="../cidades" class="btn" id="btn1" style="background: #E2F21F; border-radius: 1em;">Cobre o poder público</a><br /> <!-- Link para guia -->
    <a href="../ajude-com-dados" class="btn" id="btn2"style="background: #E2F21F; border-radius: 1em;">Ajude-nos com dados</a> <!-- Link para form -->
    <p style="text-align: justify; margin-top: 5px;">Usamos dados apenas de <b>2000</b> porque não temos dados mais recentes e, ainda assim, os dados de <b>2000</b> são apenas das capitais.</p>
          <!--<img class="img-circle" src="./files/140x140">-->
          <!-- <h2>Destino do lixo no Brasil</h2> -->

        </div><!-- /.span4 -->
          <!-- <h2>Lixo coletado</h2><div id="div_barras"></div> -->
        </div><!-- /.span4 -->
      </div><!-- /.row -->

<% end %>

<% if @locale.idhs.first %>

<script type='text/javascript'>
  // grafico de barras
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Dado', 'Valor'],
      ['IDH-M', <%= @locale.idhs.first.try(:idhm) %>],
      ['IDH Renda',  <%= @locale.idhs.first.try(:income) %>],
      ['IDH Longevidade', <%= @locale.idhs.first.try(:longevity) %>],
      ['IDH Educação', <%= @locale.idhs.first.try(:education) %>]
    ]);

    var options = {
      title: 'Dados da cidade',
      hAxis: {title: '', titleTextStyle: {color: 'red'}}
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('div_barras'));
    chart.draw(data, options);
  }
</script>

<div id="div_barras" style="postion: relative; heigth: 300px;">
</div>
<% else %>
  <p style="font-size: 24px; text-align: center; margin-bottom: 20px">Essa cidade não possui dados sobre IDH :(</p>
<% end %>
