<!DOCTYPE html>
<!-- saved from url=(0058)http://twitter.github.com/bootstrap/examples/carousel.html -->
<html lang="pt-BR">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Seulixo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    //<![CDATA[
      var n = 000000;
      var myOdometer;
      function run () {
        var div = document.getElementById("odometerDiv");
        myOdometer = new Odometer(div, {value: n, digits: 6, tenths: true});
        update();
      }

      function update () {
        n=n+0.0025
        myOdometer.set(n);
        setTimeout("update()", 0);
      }
    //]]>
  </script>
</head>
<body onload="run()">

 <!-- menu -->
<!-- Wrap the .navbar in .container to center it on the page and provide easy way to target it with .navbar-wrapper. -->
    <div class="container navbar-wrapper">

      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#index">Seu lixo</a>
          <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="dropdown">
                <a href="http://twitter.github.com/bootstrap/examples/carousel.html#" class="dropdown-toggle" data-toggle="dropdown">Detalhes<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#tabela">Tabela</a></li>
                  <li><a href="#treemap">Treemap</a></li>
                  <!-- <li><a href="http://twitter.github.com/bootstrap/examples/carousel.html#">Belém</a></li> -->
                </ul>
              <!-- <li class="active"><a href="#index">Home</a></li>
               --><li><%= link_to "Sobre", "sobre.html" %></li>
              <li><a href="#contact">Contato</a></li>
              <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
                  <!--<li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="http://twitter.github.com/bootstrap/examples/carousel.html#">Separated link</a></li>
                  <li><a href="http://twitter.github.com/bootstrap/examples/carousel.html#">One more separated link</a></li>
                  -->
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!-- /.navbar-inner -->
      </div><!-- /.navbar -->

    </div><!-- /.container -->
    <!-- /menu -->


    <div class="container marketing" style = "margin-top: 100px">

  <div style="color:#000" align="center">
  Desde que você entrou nesse site, o Brasil coletou

    <div id="odometerDiv" style="width:30%; padding:auto auto;" ></div>

    <br \>
  <br \>
  <br \>
  <br \>
  <br \>

    <!-- <div style="color:#000" align="center"> -->
  <b>TONELADAS</b> de lixo!
  <!-- </div> -->

  <br \>
  <br \>
  <br \>

  </div>





  <%= yield %>

  <style>
        #footer{
          border-radius: 1em;
          text-align: center;
          background-color: #000000;
          padding-top: 30px;
          padding-bottom: 30px;
          padding-left:0px ;
        }
        #quem{
          text-align: left;
          margin: auto;
        }

      </style>
      <footer id="footer" class="row">
       <div class="span2" id="quem2" >
        <h5>Quem somos?</h5>
        <table id="quem">
          <tr>
            <td><a href="https://github.com/rodrigomello/seu-lixo">CaipiraCat</a></td>
          </tr><tr>
            <td><a href="http://gurusorocaba.com.br/">GURU</a></td>
          </tr>
        </table>
       </div>
       <div class="span2">Contato</div>
       <div class="span2">Bugs</div>
       <div class="span2"><a href="https://github.com/rodrigomello/seu-lixo"><img src="gt.png"/></a></div>
       <div class="span2"><a href="https://fb.com/SLixo"><img src="facebook.png"/></a></div>
       <div class="span2"><a href="https://twitter.com/SLixo"><img src="tw.png"/></a></div>
       </footer>

  </div>

  <script>
      contador();
    </script>
</body>
</html>
