<!DOCTYPE html>
<!-- saved from url=(0058)http://twitter.github.com/bootstrap/examples/carousel.html -->
<html lang="pt-BR">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Seulixo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    //<![CDATA[
      var n = 000000;
      var myOdometer;
      function run () {
        var div = document.getElementById("odometerDiv");
        myOdometer = new Odometer(div, {value: n, digits: 6, tenths: true});
        update();
      }

      function update () {
        n=n+0.0025
        myOdometer.set(n);
        setTimeout("update()", 0);
      }
    //]]>
  </script>
</head>
<body onload="run()">
<div class="container navbar-wrapper" style="color:#000; margin: 0 auto">
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <%= link_to root_path, class: 'brand' do %>
            <img src="seulixologo.png"/>
          <% end %>

          <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
          <div class="nav-collapse collapse">

            <ul class="nav">
              <style>
              .nav{
                padding-top: 15px;

              }
              .nav li {
                border-radius: 1em;
              }
              </style>
              <li class="active"><%= link_to 'Home', root_path %></li>
              <li><%= link_to 'Ajuda com dados', data_path %></li>
              <li><%= link_to 'Sobre', about_path %></li>
              <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
            </ul>
          </div><!--/.nav-collapse -->
        </div><!-- /.navbar-inner -->
      </div><!-- /.navbar -->

    </div><!-- /.container -->


    <div class="container marketing" style = "margin-top: 10px">

  <div style="color:#000" align="center">
  Desde que você entrou nesse site, o Brasil coletou
    <div id="odometerDiv" class="clear" style="width:30%; padding:auto auto;" ></div>

    <br \>
  <br \>
  <br \>
  <br \>
  <br \>

    <!-- <div style="color:#000" align="center"> -->
  <b>TONELADAS</b> de lixo!
  <!-- </div> -->

  <br \>
  <br \>
  <br \>

  </div>





  <%= yield %>

  <style>
        #footer{
          border-radius: 1em;
          text-align: center;
          background-color: #000000;
          padding-top: 30px;
          padding-bottom: 30px;
          padding-left:0px ;
          color:#FFF;
        }
        #quem{
          text-align: left;
          padding-top: 0;
          margin: auto;

        }
        #contato{
          padding-top: 0px;
        }
        #bugs{
          padding-top: 0px;
        }
        #twitter {

          padding-right: 0px;
        }
        #git{
          margin: auto;
        }
        #facebook{
          margin:auto;
        }
      </style>
      <footer id="footer" class="row">
        <div class="span12">
         <div class="span2" >
          <h5>Quem somos?</h5>
          <table id="quem">
            <tr>
              <td><a href="https://github.com/rodrigomello/seu-lixo">CaipiraCat</a></td>
            </tr><tr>
              <td><a href="http://gurusorocaba.com.br/">GURU</a></td>
            </tr>
          </table>
         </div>
         <div class="span2" id="contato"><h5>Contato</h5></div>
         <div class="span2" id="bugs"><h5>Bugs</h5></div>
         <div class="span2" id="git"><a href="https://github.com/rodrigomello/seu-lixo"><img src="gt.png"/></a></div>
         <div class="span2"id = "facebook"><a href="https://fb.com/SLixo"><img src="facebook.png"/></a></div>
         <div class="span2" id = "twitter"><a href="https://twitter.com/SLixo"><img src="tw.png"/></a></div>
         </div>
       </footer>

  </div>
</body>
</html>